<div id="basket">
    <span id="text">Замовлення</span><span class="amount" id="allQuantity">0</span>
    <a href="#" class="btn" id="clear">Очистити замовлення</a>
    <div id="cart">
    </div>
    <div class="end">
        <p id="total-cost-name">Сума замовлення</p>
        <p id="total-cost"> 0 грн</p>
        <a href="/order.html" class="btn" id="createOrder">Замовити</a>
    </div>
</div>